<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" placeholder="Name..">

    <label for="model">Model</label>
    <input type="text" id="model" formControlName="model" placeholder="Model..">

    <label for="rangeFrom">Range from</label>
    <input type="number" id="rangeFrom" formControlName="rangeFrom" placeholder="Range from..">

    <label for="rangeTo">Range to</label>
    <input type="number" id="rangeTo" formControlName="rangeTo" placeholder="Range to.." (ngModelChange)="validate()">
    <p class="alert alert-danger" *ngIf="!isValid && form.controls['rangeTo'].touched">To must be bigger then from</p>

    <label>Type</label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let Type of types" value="{{Type.type}}">{{Type.type}}</mat-option>
      </mat-select>

    <label>Unit</label>
      <mat-select formControlName="unit">
        <mat-option *ngFor="let Unit of units" value="{{Unit.unit}}">{{Unit.unit}}</mat-option>
      </mat-select>

    <label for="location">Location</label>
    <input type="text" id="location" formControlName="location" placeholder="Location..">

    <label for="description">Description</label>
    <input type="text" id="description" formControlName="description" placeholder="Description..">

    <button type="submit" [disabled]="!form.valid">Save</button>
    <button (click)="back()">Cancel</button>

  </form>
</div>
