<div class="margin">
  <div class="flexbox">
    <div class="left">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input formControlName="search" placeholder="search...">
      <button type="submit" >Search</button>
    </form></div>
    <div class="right"><button (click)="logOut()">Log out</button></div>
  </div>




  <table id="table">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Model</th>
      <th>Unit</th>
      <th>Type</th>
      <th>Range</th>
      <th>Description</th>
      <th>Location</th>
      <th></th>
    </tr>
    <tr *ngFor="let item of pageOfItems">
      <td><button *ngIf='isAdmin' (click)="onDelete(item.id)">delete</button></td>
      <td>{{item.name}}</td>
      <td>{{item.model}}</td>
      <td>{{item.unit}}</td>
      <td>{{item.type}}</td>
      <td>{{item.rangeFrom}}-{{item.rangeTo}}</td>
      <td>{{item.description}}</td>
      <td>{{item.location}}</td>
      <td><button *ngIf='isAdmin' (click)="onEdit(item.id)">edit</button></td>
    </tr>
  </table>
  <div class="center">
    <div class="card-footer pb-0 pt-3">
      <jw-pagination  [pageSize]="4" [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
  </div>


<div class="addBtn"><button id="addBtn" *ngIf='isAdmin' (click)="addSensor()">Add</button></div>
</div>
